{{ define "main" }}
<div class="index-left">
    <h1 id="h1" class="text">Index</h1>
    <h1 id="h1" class="text">Mondstadt</h1>
    <div class="blueDiv"></div>
    <ul>
        <li class="text" id="mo">Characters</li>
    </ul>
    <h1 id="h1" class="text">Liyue</h1>
    <div class="blueDiv"></div>
    <ul>
        <li class="text" id="li">Characters</li>
    </ul>
    <h1 id="h1" class="text">Inazuma</h1>
    <div class="blueDiv"></div>
    <ul>
        <li class="text" id="in">Characters</li>
    </ul>
    <h1 id="h1" class="text">Sumeru</h1>
    <div class="blueDiv"></div>
    <ul>
        <li class="text" id="su">Characters</li>
    </ul>

    <h1 id="h1" class="text">Weapons</h1>
    <div class="blueDiv"></div>
    <ul>
        <li class="text" id="wo">All</li>
    </ul>
</div>
<div class="cover">
    <!-- Mondstadt characters -->
    <div class="container" id="m">
        <div class="header">Mondstadt</div>
        <div class="containerContent">
            {{ range .Pages }}
                {{ if eq .Page.Params.region "Mondstadt" }}
                    {{ if eq .Page.Params.tier "5-Star" }}
                        <div class="imgContainer">
                            <p class="imgText-top-chars">{{ .Page.Params.title }}</p>
                            <img class="img" id="{{ .Page.Params.image }}" onclick="redirect('{{ .Page.Params.image }}')">
                            <img class="img-e" id="{{ .Page.Params.element }}">
                            <p class="imgText-bottom-chars">{{ .Page.Params.name }}</p>
                        </div>
                    {{ else if eq .Page.Params.tier "4-Star" }}
                        <div class="imgContainer" id="Four-Star">
                            <p class="imgText-top-chars">{{ .Page.Params.title }}</p>
                            <img class="img" id="{{ .Page.Params.image }}" onclick="redirect('{{ .Page.Params.image }}')">
                            <img class="img-e" id="{{ .Page.Params.element }}">
                            <p class="imgText-bottom-chars">{{ .Page.Params.name }}</p>
                        </div>
                    {{ end }}

                {{ end }}
            {{ end }}
        </div>
        <br>
    </div>

    <!-- Liyue characters -->
    <div class="container" id="l">
        <div class="header">Liyue</div>
        <div class="containerContent">
            {{ range .Pages }}
                {{ if eq .Page.Params.region "Liyue" }}
                    {{ if eq .Page.Params.tier "5-Star" }}
                        <div class="imgContainer">
                            <p class="imgText-top-chars">{{ .Page.Params.title }}</p>
                            <img class="img" id="{{ .Page.Params.image }}" onclick="redirect('{{ .Page.Params.image }}')">
                            <img class="img-e" id="{{ .Page.Params.element }}">
                            <p class="imgText-bottom-chars">{{ .Page.Params.name }}</p>
                        </div>
                    {{ else if eq .Page.Params.tier "4-Star" }}
                        <div class="imgContainer" id="Four-Star">
                            <p class="imgText-top-chars">{{ .Page.Params.title }}</p>
                            <img class="img" id="{{ .Page.Params.image }}" onclick="redirect('{{ .Page.Params.image }}')">
                            <img class="img-e" id="{{ .Page.Params.element }}">
                            <p class="imgText-bottom-chars">{{ .Page.Params.name }}</p>
                        </div>
                    {{ end }}

                {{ end }}
            {{ end }}
        </div>
        <br>
    </div>
    <!-- Inazuma characters -->
    <div class="container" id="i">
        <div class="header">Inazuma</div>
        <div class="containerContent">
            {{ range .Pages }}
                {{ if eq .Page.Params.region "Inazuma" }}
                    {{ if eq .Page.Params.tier "5-Star" }}
                        <div class="imgContainer">
                            <p class="imgText-top-chars">{{ .Page.Params.title }}</p>
                            <img class="img" id="{{ .Page.Params.image }}" onclick="redirect('{{ .Page.Params.image }}')">
                            <img class="img-e" id="{{ .Page.Params.element }}">
                            <p class="imgText-bottom-chars">{{ .Page.Params.name }}</p>
                        </div>
                    {{ else if eq .Page.Params.tier "4-Star" }}
                        <div class="imgContainer" id="Four-Star">
                            <p class="imgText-top-chars">{{ .Page.Params.title }}</p>
                            <img class="img" id="{{ .Page.Params.image }}" onclick="redirect('{{ .Page.Params.image }}')">
                            <img class="img-e" id="{{ .Page.Params.element }}">
                            <p class="imgText-bottom-chars">{{ .Page.Params.name }}</p>
                        </div>
                    {{ end }}

                {{ end }}
            {{ end }}
        </div>
        <br>
    </div>

    <!-- Sumeru characters -->
    <div class="container" id="s">
        <div class="header">Sumeru</div>
        <div class="containerContent">
            {{ range .Pages }}
                {{ if eq .Page.Params.region "Sumeru" }}
                    {{ if eq .Page.Params.tier "5-Star" }}
                        <div class="imgContainer">
                            <p class="imgText-top-chars">{{ .Page.Params.title }}</p>
                            <img class="img" id="{{ .Page.Params.image }}" onclick="redirect('{{ .Page.Params.image }}')">
                            <img class="img-e" id="{{ .Page.Params.element }}">
                            <p class="imgText-bottom-chars">{{ .Page.Params.name }}</p>
                        </div>
                    {{ else if eq .Page.Params.tier "4-Star" }}
                        <div class="imgContainer" id="Four-Star">
                            <p class="imgText-top-chars">{{ .Page.Params.title }}</p>
                            <img class="img" id="{{ .Page.Params.image }}" onclick="redirect('{{ .Page.Params.image }}')">
                            <img class="img-e" id="{{ .Page.Params.element }}">
                            <p class="imgText-bottom-chars">{{ .Page.Params.name }}</p>
                        </div>
                    {{ end }}

                {{ end }}
            {{ end }}
        </div>
        <br>
    </div>
    <!-- Weapons -->
    <div class="container" id="w">
        <div class="header">Weapons</div>
        <div class="containerContent">
            {{ range .Pages }}
                {{ if eq .Page.Params.type slice "Bow" "Sword" "Claymore" "Catalyst" "Polearm" }}
                        <div class="imgContainer">
                            <p class="imgText-top-chars">{{ .Page.Params.title }}</p>
                            <img class="img" id="{{ .Page.Params.image }}" onclick="redirect('{{ .Page.Params.image }}')">
                            <p class="imgText-bottom-chars">{{ .Page.Params.type }}</p>
                        </div>

                {{ end }}
            {{ end }}
        </div>
        <br>
    </div>
</div>
{{ end }}