body
{
    margin: 0;
}
#logo
{
    position: relative;
    background-image: url(../../logo.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    width: 160px;
    top: 3px;
    border-radius: 0 10px 10px 0;
    opacity: 0.5;
    height: 40px;
    transition-duration: 0.8s;
}

#logo:hover
{
    opacity: 1;
}
.background
{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../../home/bg.jpeg);
    position: fixed;
    overflow: auto;
    width: 100%;
    height: 100%;
}
/* Nav Bar */
.navBar
{
    width: 100%;
    box-shadow: #6e6e70 1px 0px 10px;
    height: 45px;
    position: fixed;
    z-index: 10;
    background: rgba(19, 17, 17, 0.9)
}
.navButton
{
    display: inline-block;
    width: 100px;
    top: -13px;
    color: white;
    height: 30px;
    position: relative;
    text-align: center;
    margin: 0;
    padding-top: 10px;
    transition-duration: 0.3s;
    text-decoration: none;
}
.navButton:hover
{
    background-color: rgba(35, 165, 182, 0.7);
    border-bottom: 1px solid rgb(0, 191, 255);
}

/* Original Content */
.intro
{
    background-color: rgba(0,0,0,0.2);
    position: relative;
    top: 45px;
}
.characterImage
{
    background-image: url(../../products/general/characters.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 -10px;
    width: 100%;
    height: 100%;
    position: relative;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    animation: 14s ease 0s normal none infinite running slideUp;
}
.characterImageContainer
{

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 90%;
    height: 40%;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
    overflow: hidden;
}
.imageCover
{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: rgba(0,0,0,0.6);
    border: 1px solid lightblue;
    transition-duration: 0.5s;
}
@keyframes slideUp
{
    0%
    {
        background-position: center;
    }
    50%
    {
        background-position: top;
    }
    100%
    {
        background-position: bottom;
    }
}
@keyframes slideUp-slow
{
    0%
    {
        background-position: center;
    }
    50%
    {
        background-position: top;
    }
    100%
    {
        background-position: center;
    }
}
@keyframes zoomin 
{
    0% { transform: scale(1) }
    50% { transform: scale(1.1) }
    100% { transform: scale(1.0) }
}
.imageCover:hover
{
    background-color: rgba(0,0,0,0.2);
}
.text
{
    width: 98%;
    position: relative;
    padding: 1%;
    font-size: 17px;
    text-align: center;
    text-shadow: 1px 1px 4px rgb(179, 177, 161);
    color: rgb(78, 78, 78);
}
ul
{
    padding-inline-start: 30px;
}
li.text
{
    text-decoration: none;
    text-align: left;
    cursor: pointer;
}
li.text:hover
{
    text-decoration: underline;
    background-color: rgba(255, 255, 255, 0.3);
}
.content
{
    width: 80%;
    position: relative;
    left: 10%;
    background-color: rgba(255, 255, 255, 0);
    display: none;
}

.headers
{
    width: 98%;
    cursor: pointer;
    position: relative;
    padding: 1%;
    text-shadow: 1px 1px 4px rgb(0 0 0);
    font-size: 20px;
    text-align: center;
    color: white;
}
.headers:hover
{
    color:rgb(0, 191, 255);
}
a
{
    text-decoration: none;
    color: red;
    cursor: pointer;
}
.from
{
    width: 98%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 1%;
    font-size: 10px;
    text-align: right;
    color: white;
    text-shadow: 1px 1px 2px rgb(165 165 165);
}
hr
{
    left: 20%;
    width: 80%;
}
b
{
    color: rgb(28, 137, 145);
    cursor: pointer;
}
#bg-color
{
    background-color: none;
    position: relative;
    top: 45px;
    transition-duration: 1s
}
#bg-color:hover
{
    background-color: rgba(255, 255, 255, 0.5);
}
.imgHold
{
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}
.imgContain
{
    position: relative;
    display: inline-block;
    padding: 5px;
}
.img
{
    position: relative;
    width: 100px;
    height: 100px;
    display: inline-block;
    margin: 0;
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.img-e
{
    position: absolute;
    width: 25px;
    height: 25px;
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.4);
    margin: 0;
    left: 5px;
    bottom: 25px;
    border: none;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.imgElements
{
    position: relative;
    width: 50px;
    height: 50px;
    display: inline-block;
    margin: 0;
    background-color: rgba(255, 255, 255, 0.7);
    border: none;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.plus
{
    position: relative;
    display: inline-block;
    text-align: center;
    top: -20px;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px 10px 0px 0px;
    text-shadow: 1px 1px 4px rgb(179 177 161);
    color: rgb(78, 78, 78);
}
.imgText-top
{
    width: 98%;
    position: relative;
    padding: 1%;
    margin: 0;
    font-size: 17px;
    text-align: center;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 10px 10px 0px 0px;
    text-shadow: 1px 1px 4px rgb(179 177 161);
    color: rgb(78, 78, 78);
}
.imgText-top-chars
{
    width: 98%;
    position: relative;
    padding: 1%;
    margin: 0;
    font-size: 12px;
    text-align: center;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 10px 10px 0px 0px;
    text-shadow: 1px 1px 4px rgb(179 177 161);
    color: rgb(78, 78, 78);
    /* Used to cut text if it exceeds length */
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; 
    /*   */
}
.imgText-bottom-chars
{
    width: 98%;
    position: relative;
    padding: 1%;
    margin: 0;
    font-size: 15px;
    text-align: center;
    background-color: rgba(255,255,255, 0.7);
    border-radius: 0px 0px 10px 10px;
    text-shadow: 1px 1px 4px rgb(179 177 161);
    color: rgb(78, 78, 78);
    /* Used to cut text if it exceeds length */
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; 
    /*   */
}
#anemo-text
{
    background-color: rgb(64, 206, 21);
}
#electro-text
{
    background-color: rgb(141, 24, 209);
}
#geo-text
{
    background-color: rgb(218, 171, 19);
}
#dendro-text
{
    background-color: rgb(21, 255, 0);
}
#hydro-text
{
    background-color: rgb(16, 106, 223);
}
#cyro-text
{
    background-color: rgb(11, 238, 227);
}
#pyro-text
{
    background-color: rgb(238, 8, 8);
}

.imgText-top-elements
{
    width: 98%;
    position: relative;
    padding: 1%;
    margin: 0;
    font-size: 13px;
    text-align: center;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 10px 10px 0px 0px;
    text-shadow: 1px 1px 4px rgb(179 177 161);
    color: rgb(78, 78, 78);
}
.imgText-bottom
{
    width: 98%;
    position: relative;
    padding: 1%;
    margin: 0;
    font-size: 17px;
    text-align: center;
    background-color: rgba(255,255,255, 0.7);
    border-radius: 0px 0px 10px 10px;
    text-shadow: 1px 1px 4px rgb(179 177 161);
    color: rgb(78, 78, 78);
}
.img:hover
{
    animation: 14s ease 0s normal none infinite running slideUp-slow;
}

/* Rarities */

.fadeDown-rarities
{
    animation: fade 0.5s ease-out forwards;
}
.fadeUp-rarities
{
    animation: fade-back 0.5s ease-out forwards;
}
@keyframes fade
{
    from
    {
        height: 70px;
    }
    to
    {
        background-position: relative;
        height: 400px;
    }
}
@keyframes fade-back
{
    from
    {
        height: 400px;
        background-position: relative;
    }
    to
    {
        height: 70px;
    }
}

/* */
.fadeDown-elements
{
    animation: fadeE 0.5s ease-out forwards;
}
.fadeUp-elements
{
    animation: fade-backE 0.5s ease-out forwards;
}
@keyframes fadeE
{
    from
    {
        height: 70px;
    }
    to
    {
        background-position: relative;
        height: 1150px;
    }
}
@keyframes fade-backE
{
    from
    {
        height: 1150px;
        background-position: relative;
    }
    to
    {
        height: 70px;
    }
}

/* */
.fadeDown-weapons
{
    animation: fadeW 0.5s ease-out forwards;
}
.fadeUp-weapons
{
    animation: fade-backW 0.5s ease-out forwards;
}
@keyframes fadeW
{
    from
    {
        height: 70px;
    }
    to
    {
        background-position: relative;
        height: 350px;
    }
}
@keyframes fade-backW
{
    from
    {
        height: 350px;
        background-position: relative;
    }
    to
    {
        height: 70px;
    }
}

/* */
.fadeDown-regions
{
    animation: fadeR 0.5s ease-out forwards;
}
.fadeUp-regions
{
    animation: fade-backR 0.5s ease-out forwards;
}
@keyframes fadeR
{
    from
    {
        height: 70px;
    }
    to
    {
        background-position: relative;
        height: 350px;
    }
}
@keyframes fade-backR
{
    from
    {
        height: 350px;
        background-position: relative;
    }
    to
    {
        height: 70px;
    }
}


#char-1
{
    background-image: url(../../products/images/GenImp-K-ES.webp);
}
#char-2
{
    background-image: url(../../products/images/GenImp-R-EC.webp);
}
#anemo
{
    background-image: url(../../products/general/anemo.png);
}
#electro
{
    background-image: url(../../products/general/electro.png);
}
#dendro
{
    background-image: url(../../products/general/dendro.png);
}
#geo
{
    background-image: url(../../products/general/geo.png);
}
#cyro
{
    background-image: url(../../products/general/cyro.png);
}
#pyro
{
    background-image: url(../../products/general/pyro.png);
}
#hydro
{
    background-image: url(../../products/general/hydro.png);
}
#polearm
{
    background-image: url(../../products/general/polearm.webp);
}
#sword
{
    background-image: url(../../products/general/sword.webp);
}
#claymore
{
    background-image: url(../../products/general/claymore.webp);
}
#catalyst
{
    background-image: url(../../products/general/catalyst.webp);
}
#bow
{
    background-image: url(../../products/general/bow.webp);
}
#mond
{
    background-image: url(../../home/mond.webp);
}
#liyue
{
    background-image: url(../../home/liyue.webp);
}
#ina
{
    background-image: url(../../home/inazuma.webp);
}
#sumeru
{
    background-image: url(../../home/sumeru.webp);
}

/* Product-list */
.cover
{
    background-color: rgba(155, 155, 155, 0.5);
    width: 82%;
    left: 18%;
    top: 45px;
    position: relative;
    filter: blur(10px);
    border-top: 5px solid rgb(75, 204, 193);
}
.blurry
{
    animation: unblur 1.5s ease-out forwards;
}
@keyframes unblur
{
    from
    {
        filter: blur(15px);
    }
    to
    {
        filter: blur(0px);
    }
}
.container
{
    position: relative;
    background-color: rgba(255,255,255,0);
    width: 100%;
}
.container:hover
{
    background-color: rgba(0, 0, 0, 0.6);
}
.clickFade
{
    animation: clickFade 1.5s ease-out forwards;
}
@keyframes clickFade
{
    from
    {
        background-color: rgba(255,255,255,0);
    }
    to
    {
        background-color: rgba(0,0,0,0.7);
    }
}
.containerContent
{
    width: 90%;
    position: relative;
    padding: 0px 30px;
}
.header
{
    width: 100%;
    position: relative;
    font-size: 25px;
    padding: 10px 0px;
    text-align: center;
    text-shadow: 1px 1px 4px rgb(179 177 161);
    color: rgb(78, 78, 78);
    background-color: rgba(255, 255, 255, 0.6);
    transition-duration: 0.3s;
}
.header:hover
{
    background-color: rgba(255, 255, 255, 0.9);
}

.imgContainer
{
    position: relative;
    width: 100px;
    display: inline-block;
    padding: 5px;
    top: 5px;
    transition-duration: 0.5s;
    cursor: pointer;
}
#Four-Star
{
    background-color: rgba(0,0,0, 0.5);
}
.imgContainer:hover
{
    background-color: rgba(0, 0, 0, 0.3);
    border: none;
}
.tier
{
    position: relative;
    width: 20%;
    display: inline-block;
    text-align: center;
}

.tierText
{
    position: relative;
    padding: 1%;
    font-size: 20px;
    text-align: center;
    text-shadow: 1px 1px 4px rgb(179, 177, 161);
    color: rgb(34, 34, 34);
}
.index-left
{
    position: fixed;
    z-index: 0;
    top: 45px;
    width: 18%;
    height: 100%;
    background-color: rgba(53, 105, 109, 0.5);
}
.index-right
{
    position: fixed;
    z-index: 0;
    overflow: hidden;
    right: 0;
    top: 45px;
    width: 2%;
    height: 100%;
    background-color: rgba(53, 105, 109, 0.5);
}
#h1
{
    padding: 0;
    margin: 0;
    width: 100%;
    text-shadow: 1px 1px 4px rgb(179 177 161);
    background-color: rgba(255, 255, 255, 0.5);
}
.blueDiv
{
    position: relative;
    width: 100%;
    border-top: 5px solid lightblue;
    filter: blur(5px);
}
.splash
{
    background-color: black;
    color: white;
    width: 100%;
    height: 100%;
    z-index: 10;
    position: fixed;
}
.splashText
{
    color: white;
    text-shadow: 1px 1px 1px rgb(179 177 161);
    position: relative;
    top: 40%;
    transform: translate(0%, 40%);
    text-align: center;
}

/* Product tags */
.tag-container
{
    position: relative;
    /* top: 45px; */
    top: 10%;
    width: 100%;
    left: 10%;
    width: 80%;
    background-color: rgba(0, 0, 0, 0.6);
}
.table-header
{
    position: relative;
    width: 100%;
    background-color: rgba(155, 155, 155, 0.5);
    font-size: 20px;
    text-align: center;
    text-shadow: 1px 1px 4px rgb(179, 177, 161);
    color: rgb(78, 78, 78);
    margin: 0;
}
.table
{
    position: relative;
    width: 98%;
    padding: 1%;
}
.cell
{
    position: relative;
    display: inline-block;
    width: 100px;
    font-size: 20px;
    background-color: rgb(0 226 255 / 70%);
    transition-duration: 0.5s;
    border: 1px solid black;
    text-align: center;
    text-shadow: 1px 1px 4px rgb(179 177 161);
    color: rgb(78, 78, 78);
    margin: 0;
}
.tableContent
{
    position: relative;
    width: 98%;
    padding: 1%;
}
.cell:hover
{
    background-color:rgba(255, 255, 255, 0.9);
}

/* Products */
#GenImp-V-AA
{
    background-image: url(../../products/images/GenImp-V-AA.webp);
}
#GenImp-R-EC
{
    background-image: url(../../products/images/GenImp-R-EC.webp);
}
#GenImp-Amos
{
    background-image: url(../../products/images/GenImp-Amos.png);
}
#GenImp-AquilaFavonia
{
    background-image: url(../../products/images/GenImp-AquilaFavonia.png);
}
#GenImp-A-CA
{
    background-image: url(../../products/images/GenImp-A-CA.webp);
}
#GenImp-A-GC
{
    background-image: url(../../products/images/GenImp-A-GC.webp);
}
#GenImp-A-GS
{
    background-image: url(../../products/images/GenImp-A-GS.webp);
}
#GenImp-A-HA
{
    background-image: url(../../products/images/GenImp-A-HA.webp);
}
#GenImp-A-PA
{
    background-image: url(../../products/images/GenImp-A-PA.webp);
}
#GenImp-AquaSimulacra
{
    background-image: url(../../products/images/GenImp-AquaSimulacra.png);
}
#GenImp-B-HC
{
    background-image: url(../../products/images/GenImp-B-HC.webp);
}
#GenImp-CalamityQueller
{
    background-image: url(../../products/images/GenImp-CalamityQueller.png);
}
#GenImp-D-PC
{
    background-image: url(../../products/images/GenImp-D-PC.webp);
}
#GenImp-D-EC
{
    background-image: url(../../products/images/GenImp-D-EC.webp);
}
#GenImp-E-CC
{
    background-image: url(../../products/images/GenImp-E-CC.webp);
}
#GenImp-ElegyEnd
{
    background-image: url(../../products/images/GenImp-ElegyEnd.png);
}
#GenImp-EngulfingLightning
{
    background-image: url(../../products/images/GenImp-EngulfingLightning.png);
}
#GenImp-EverlastingMoonglow
{
    background-image: url(../../products/images/GenImp-EverlastingMoonglow.png);
}
#GenImp-FreedomSworn
{
    background-image: url(../../products/images/GenImp-FreedomSworn.png);
}
#GenImp-G-CA
{
    background-image: url(../../products/images/GenImp-G-CA.webp);
}
#GenImp-H-PP
{
    background-image: url(../../products/images/GenImp-H-PP.webp);
}
#GenImp-Haran
{
    background-image: url(../../products/images/GenImp-Haran.png);
}
#GenImp-J-AS
{
    background-image: url(../../products/images/GenImp-J-AS.webp);
}
#GenImp-JadeCutter
{
    background-image: url(../../products/images/GenImp-JadeCutter.png);
}
#GenImp-K-AS
{
    background-image: url(../../products/images/GenImp-K-AS.webp);
}
#GenImp-K-CS
{
    background-image: url(../../products/images/GenImp-K-CS.webp);
}
#GenImp-K-ES
{
    background-image: url(../../products/images/GenImp-K-ES.webp);
}
#GenImp-K-HS
{
    background-image: url(../../products/images/GenImp-K-HS.webp);
}
#GenImp-K-PC
{
    background-image: url(../../products/images/GenImp-K-PC.webp);
}
#GenImp-KaguraVerity
{
    background-image: url(../../products/images/GenImp-KaguraVerity.png);
}
#GenImp-KS-ES
{
    background-image: url(../../products/images/GenImp-KS-ES.webp);
}
#GenImp-LostPrayers
{
    background-image: url(../../products/images/GenImp-LostPrayers.png);
}
#GenImp-M-HC
{
    background-image: url(../../products/images/GenImp-M-HC.webp);
}
#GenImp-MemoryDust
{
    background-image: url(../../products/images/GenImp-MemoryDust.png);
}
#GenImp-MistReforged
{
    background-image: url(../../products/images/GenImp-MistReforged.png);
}
#GenImp-PolarStar
{
    background-image: url(../../products/images/GenImp-PolarStar.png);
}
#GenImp-PrimordialSpear
{
    background-image: url(../../products/images/GenImp-PrimordialSpear.png);
}
#GenImp-Q-CS
{
    background-image: url(../../products/images/GenImp-Q-CS.webp);
}
#GenImp-R-EC
{
    background-image: url(../../products/images/GenImp-R-EC.webp);
}
#GenImp-R-EP
{
    background-image: url(../../products/images/GenImp-R-EP.webp);
}
#GenImp-RedHornStone
{
    background-image: url(../../products/images/GenImp-RedHornStone.png);
}
#GenImp-S-CP
{
    background-image: url(../../products/images/GenImp-S-CP.webp);
}
#GenImp-S-HC
{
    background-image: url(../../products/images/GenImp-S-HC.webp);
}
#GenImp-SkywardAtlas
{
    background-image: url(../../products/images/GenImp-SkywardAtlas.png);
}
#GenImp-SkywardBlade
{
    background-image: url(../../products/images/GenImp-SkywardBlade.png);
}
#GenImp-SkywardHarp
{
    background-image: url(../../products/images/GenImp-SkywardHarp.png);
}
#GenImp-SkyWardPride
{
    background-image: url(../../products/images/GenImp-SkywardPride.png);
}
#GenImp-SkywardSpine
{
    background-image: url(../../products/images/GenImp-SkywardSpine.png);
}
#GenImp-SongPines
{
    background-image: url(../../products/images/GenImp-SongPines.png);
}
#GenImp-StaffHoma
{
    background-image: url(../../products/images/GenImp-StaffHoma.png);
}
#GenImp-SummitShaper
{
    background-image: url(../../products/images/GenImp-SummitShaper.png);
}
#GenImp-ThunderingPulse
{
    background-image: url(../../products/images/GenImp-ThunderingPulse.png);
}
#GenImp-Unforged
{
    background-image: url(../../products/images/GenImp-Unforged.png);
}
#GenImp-V-AA
{
    background-image: url(../../products/images/GenImp-V-AA.webp);
}
#GenImp-VortexVanquisher
{
    background-image: url(../../products/images/GenImp-VortexVanquisher.png);
}
#GenImp-Wolfsgravestone
{
    background-image: url(../../products/images/GenImp-Wolfsgravestone.png);
}
#GenImp-X-AP
{
    background-image: url(../../products/images/GenImp-X-AP.webp);
}
#GenImp-Y-EC
{
    background-image: url(../../products/images/GenImp-Y-EC.webp);
}
#GenImp-Y-HA
{
    background-image: url(../../products/images/GenImp-Y-HA.webp);
}
#GenImp-Y-PA
{
    background-image: url(../../products/images/GenImp-Y-PA.webp);
}
#GenImp-Z-GP
{
    background-image: url(../../products/images/GenImp-Z-GP.webp);
}
#GenImp-NE-GC
{
    background-image: url(../../products/images/GenImp-NE-GC.webp);
}
#GenImp-D-CA
{
    background-image: url(../../products/images/GenImp-D-CA.webp);
}
#GenImp-R-CP
{
    background-image: url(../../products/images/GenImp-R-CP.webp);
}
#GenImp-B-PS
{
    background-image: url(../../products/images/GenImp-B-PS.webp);
}
#GenImp-NE-GC
{
    background-image: url(../../products/images/GenImp-NE-GC.webp);
}
#GenImp-X-PC
{
    background-image: url(../../products/images/GenImp-X-PC.webp);
}
#GenImp-N-GC
{
    background-image: url(../../products/images/GenImp-N-GC.webp);
}
#GenImp-X-PP
{
    background-image: url(../../products/images/GenImp-X-PP.webp);
}
#GenImp-C-CC
{
    background-image: url(../../products/images/GenImp-C-CC.webp);
}
#GenImp-X-HS
{
    background-image: url(../../products/images/GenImp-X-HS.webp);
}
#GenImp-YJ-GP
{
    background-image: url(../../products/images/GenImp-YJ-GP.webp);
}
#GenImp-B-EC
{
    background-image: url(../../products/images/GenImp-B-EC.webp);
}
#GenImp-Y-PC
{
    background-image: url(../../products/images/GenImp-Y-PC.webp);
}
#GenImp-SH-AC
{
    background-image: url(../../products/images/GenImp-SH-AC.webp);
}
#GenImp-G-GA
{
    background-image: url(../../products/images/GenImp-G-GA.webp);
}
#GenImp-KS-EA
{
    background-image: url(../../products/images/GenImp-KS-EA.webp);
}
#GenImp-SY-AC
{
    background-image: url(../../products/images/GenImp-SY-AC.webp);
}
#GenImp-C-HP
{
    background-image: url(../../products/images/GenImp-C-HP.webp);
}
#GenImp-C-EP
{
    background-image: url(../../products/images/GenImp-C-EP.webp);
}
#GenImp-C-DA
{
    background-image: url(../../products/images/GenImp-C-DA.webp);
}
#GenImp-T-DA
{
    background-image: url(../../products/images/GenImp-T-DA.webp);
}
#GenImp-HunterPath
{
    background-image: url(../../products/images/GenImp-HunterPath.png);
}




