body
{
    margin: 0;
}
#logo
{
    position: relative;
    background-image: url(../../../logo.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    width: 160px;
    top: 3px;
    border-radius: 0 10px 10px 0;
    opacity: 0.5;
    height: 40px;
    transition-duration: 0.8s;
}

#logo:hover
{
    opacity: 1;
}
.background
{
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../../../products/images/GenImp-C-EP.png);
    position: fixed;
    overflow: auto;
    width: 100%;
    height: 100%;
    animation: 16s ease 0s normal none infinite running slideUp-slow;
}
/* Nav Bar */
.navBar
{
    width: 100%;
    box-shadow: #6e6e70 1px 0px 10px;
    height: 45px;
    position: fixed;
    z-index: 10;
    background: rgba(19, 17, 17, 0.9)
}
.navButton
{
    display: inline-block;
    width: 100px;
    top: -13px;
    color: white;
    height: 30px;
    position: relative;
    text-align: center;
    margin: 0;
    padding-top: 10px;
    transition-duration: 0.3s;
    text-decoration: none;
}
.navButton:hover
{
    background-color: rgba(35, 165, 182, 0.7);
    border-bottom: 1px solid rgb(0, 191, 255);
}
/* Slide for background */
@keyframes slideUp-slow
{
    0%
    {
        background-position: center;
    }
    50%
    {
        background-position: top;
    }
    100%
    {
        background-position: center;
    }
}
.holder
{
    position: relative;
    width: 100%;
    top: 45px;
}
.title
{
    position: relative;
    /* Border of the <hr> */
    border-style: inset;
    border-width: 1px;
    /*  */
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
}
.introduction
{
    position: relative;
    /* Border of the <hr> */
    border-style: inset;
    border-width: 1px;
    /*  */
    width: 100%;
    background-color:rgba(255, 255, 255, 0.5);
}
b
{
    color: rgb(28, 137, 145);
    cursor: pointer;
}
.text
{
    width: 98%;
    position: relative;
    padding: 1%;
    font-size: 17px;
    text-align: center;
    text-shadow: 1px 1px 4px rgb(179, 177, 161);
    color: rgb(78, 78, 78);
    margin: 0;
}
.info
{
    position: relative;
    width: 100%;
    height: 400px;
    left: 0;
    top: 30px;
}
.info-left
{
    position: relative;
    /* Border of the <hr> */
    border-style: inset;
    border-width: 1px;
    /*  */
    width: 30%;
    height: 400px;
    left: 0;
    top: 30px;
    background-color: rgba(255, 255, 255, 0.5);
}
.info-right
{
    position: absolute;
    border-style: inset;
    border-width: 1px;
    width: 30%;
    height: 400px;
    top: 250px;
    right: 0;
    background-color: rgba(255, 255, 255, 0.5);
}
.line
{
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
}
.data-cell-head
{
    width: 100%;
    position: relative;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9);

    font-size: 17px;
    text-align: center;
    text-shadow: 1px 1px 4px rgb(179, 177, 161);
    color: rgb(78, 78, 78);
    margin: 0;
}
.data-cell
{
    width: 100%;
    position: relative;
    height: 150px;
    background-color: rgba(255,252, 252, 0.5);
}
a
{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
}
.from
{
    width: 98%;
    position: absolute;
    left: 0;
    padding: 1%;
    /* font-size: 10px; */
    text-align: right;
    color: white;
    text-shadow: 1px 1px 2px rgb(165 165 165);
}