body
{
    margin: 0;
}
#logo
{
    position: relative;
    background-image: url(../../../logo.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    width: 160px;
    top: 3px;
    border-radius: 0 10px 10px 0;
    opacity: 0.5;
    height: 40px;
    transition-duration: 0.8s;
}

#logo:hover
{
    opacity: 1;
}
.background
{
    background-position: center;
    background-repeat: no-repeat;
    position: fixed;
    overflow: auto;
    width: 100%;
    height: 100%;
    animation: 16s ease 0s normal none infinite running slideUp-slow;
}
/* Nav Bar */
.navBar
{
    width: 100%;
    box-shadow: #6e6e70 1px 0px 10px;
    height: 45px;
    position: fixed;
    z-index: 10;
    background: rgba(19, 17, 17, 0.9)
}
.navButton
{
    display: inline-block;
    width: 100px;
    top: -13px;
    color: white;
    height: 30px;
    position: relative;
    text-align: center;
    margin: 0;
    padding-top: 10px;
    transition-duration: 0.3s;
    text-decoration: none;
}
.navButton:hover
{
    background-color: rgba(35, 165, 182, 0.7);
    border-bottom: 1px solid rgb(0, 191, 255);
}
/* Slide for background */
@keyframes slideUp-slow
{
    0%
    {
        background-position: center;
    }
    50%
    {
        background-position: top;
    }
    100%
    {
        background-position: center;
    }
}
.holder
{
    position: relative;
    width: 100%;
    top: 45px;
}
.title
{
    position: relative;
    /* Border of the <hr> */
    border-style: inset;
    border-width: 1px;
    /*  */
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
}
.introduction
{
    position: relative;
    /* Border of the <hr> */
    border-style: inset;
    border-width: 1px;
    /*  */
    width: 100%;
    background-color:rgba(255, 255, 255, 0.5);
}
b
{
    color: rgb(28, 137, 145);
    cursor: pointer;
}
.text
{
    width: 98%;
    position: relative;
    padding: 1%;
    font-size: 17px;
    text-align: center;
    text-shadow: 1px 1px 4px rgb(179, 177, 161);
    color: rgb(78, 78, 78);
    margin: 0;
}
.info-left
{
    position: relative;
    border-style: inset;
    border-width: 1px;
    width: 12%;
    left: 0;
    top: 30px;
    background-color: rgba(255, 255, 255, 0.5);
}
.info-right
{
    position: absolute;
    border-style: inset;
    border-width: 1px;
    width: 10%;
    top: 250px;
    right: 0;
    background-color: rgba(255, 255, 255, 0.5);
}
.line
{
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
}
.data-cell-head
{
    width: 100%;
    position: relative;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9);

    font-size: 17px;
    text-align: center;
    text-shadow: 1px 1px 4px rgb(179, 177, 161);
    color: rgb(78, 78, 78);
    margin: 0;
}
.data-cell
{
    width: 100%;
    position: relative;
    height: 150px;
    background-color: rgba(255,252, 252, 0.5);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
a
{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
}
ul
{
    padding-inline-start: 30px;
}
li
{
    text-align: left;
}
.from
{
    width: 98%;
    position: absolute;
    left: 0;
    padding: 1%;
    /* font-size: 10px; */
    text-align: right;
    color: white;
    text-shadow: 1px 1px 2px rgb(165 165 165);
}

#anemo
{
    background-image: url(../../../products/general/anemo.png);
}
#electro
{
    background-image: url(../../../products/general/electro.png);
}
#dendro
{
    background-image: url(../../../products/general/dendro.png);
}
#geo
{
    background-image: url(../../products/general/geo.png);
}
#cyro
{
    background-image: url(../../../products/general/cyro.png);
}
#pyro
{
    background-image: url(../../../products/general/pyro.png);
}
#hydro
{
    background-image: url(../../../products/general/hydro.png);
}
#polearm
{
    background-image: url(../../../products/general/polearm.webp);
}
#sword
{
    background-image: url(../../../products/general/sword.webp);
}
#claymore
{
    background-image: url(../../../products/general/claymore.webp);
}
#catalyst
{
    background-image: url(../../../products/general/catalyst.webp);
}
#bow
{
    background-image: url(../../../products/general/bow.webp);
}
#Mondstadt
{
    background-image: url(../../../home/mond.webp);
}
#Liyue
{
    background-image: url(../../../home/liyue.webp);
}
#Inazuma
{
    background-image: url(../../../home/inazuma.webp);
}
#Sumeru
{
    background-image: url(../../../home/sumeru.webp);
}

/* Product List */
/* Products */
/* Products */
#GenImp-V-AA
{
    background-image: url(../../../products/images/GenImp-V-AA.webp);
}
#GenImp-R-EC
{
    background-image: url(../../../products/images/GenImp-R-EC.webp);
}
#GenImp-Amos
{
    background-image: url(../../../products/images/GenImp-Amos.png);
}
#GenImp-AquilaFavonia
{
    background-image: url(../../../products/images/GenImp-AquilaFavonia.png);
}
#GenImp-A-CA
{
    background-image: url(../../../products/images/GenImp-A-CA.webp);
}
#GenImp-A-GC
{
    background-image: url(../../../products/images/GenImp-A-GC.webp);
}
#GenImp-A-GS
{
    background-image: url(../../../products/images/GenImp-A-GS.webp);
}
#GenImp-A-HA
{
    background-image: url(../../../products/images/GenImp-A-HA.webp);
}
#GenImp-A-PA
{
    background-image: url(../../../products/images/GenImp-A-PA.webp);
}
#GenImp-AquaSimulacra
{
    background-image: url(../../../products/images/GenImp-AquaSimulacra.png);
}
#GenImp-B-HC
{
    background-image: url(../../../products/images/GenImp-B-HC.webp);
}
#GenImp-CalamityQueller
{
    background-image: url(../../../products/images/GenImp-CalamityQueller.png);
}
#GenImp-D-PC
{
    background-image: url(../../../products/images/GenImp-D-PC.webp);
}
#GenImp-E-CC
{
    background-image: url(../../../products/images/GenImp-E-CC.webp);
}
#GenImp-ElegyEnd
{
    background-image: url(../../../products/images/GenImp-ElegyEnd.png);
}
#GenImp-EngulfingLightning
{
    background-image: url(../../../products/images/GenImp-EngulfingLightning.png);
}
#GenImp-EverlastingMoonglow
{
    background-image: url(../../../products/images/GenImp-EverlastingMoonglow.png);
}
#GenImp-FreedomSworn
{
    background-image: url(../../../products/images/GenImp-FreedomSworn.png);
}
#GenImp-G-CA
{
    background-image: url(../../../products/images/GenImp-G-CA.webp);
}
#GenImp-H-PP
{
    background-image: url(../../../products/images/GenImp-H-PP.webp);
}
#GenImp-Haran
{
    background-image: url(../../../products/images/GenImp-Haran.png);
}
#GenImp-J-AS
{
    background-image: url(../../../products/images/GenImp-J-AS.webp);
}
#GenImp-JadeCutter
{
    background-image: url(../../../products/images/GenImp-JadeCutter.png);
}
#GenImp-K-AS
{
    background-image: url(../../../products/images/GenImp-K-AS.webp);
}
#GenImp-K-CS
{
    background-image: url(../../../products/images/GenImp-K-CS.webp);
}
#GenImp-K-ES
{
    background-image: url(../../../products/images/GenImp-K-ES.webp);
}
#GenImp-K-HS
{
    background-image: url(../../../products/images/GenImp-K-HS.webp);
}
#GenImp-K-PC
{
    background-image: url(../../../products/images/GenImp-K-PC.webp);
}
#GenImp-KaguraVerity
{
    background-image: url(../../../products/images/GenImp-KaguraVerity.png);
}
#GenImp-KS-ES
{
    background-image: url(../../../products/images/GenImp-KS-ES.webp);
}
#GenImp-LostPrayers
{
    background-image: url(../../../products/images/GenImp-LostPrayers.png);
}
#GenImp-M-HC
{
    background-image: url(../../../products/images/GenImp-M-HC.webp);
}
#GenImp-MemoryDust
{
    background-image: url(../../../products/images/GenImp-MemoryDust.png);
}
#GenImp-MistReforged
{
    background-image: url(../../../products/images/GenImp-MistReforged.png);
}
#GenImp-PolarStar
{
    background-image: url(../../../products/images/GenImp-PolarStar.png);
}
#GenImp-PrimordialSpear
{
    background-image: url(../../../products/images/GenImp-PrimordialSpear.png);
}
#GenImp-Q-CS
{
    background-image: url(../../../products/images/GenImp-Q-CS.webp);
}
#GenImp-R-EC
{
    background-image: url(../../../products/images/GenImp-R-EC.webp);
}
#GenImp-R-EP
{
    background-image: url(../../../products/images/GenImp-R-EP.webp);
}
#GenImp-RedHornStone
{
    background-image: url(../../../products/images/GenImp-RedHornStone.png);
}
#GenImp-S-CP
{
    background-image: url(../../../products/images/GenImp-S-CP.webp);
}
#GenImp-S-HC
{
    background-image: url(../../../products/images/GenImp-S-HC.webp);
}
#GenImp-SkywardAtlas
{
    background-image: url(../../../products/images/GenImp-SkywardAtlas.png);
}
#GenImp-SkywardBlade
{
    background-image: url(../../../products/images/GenImp-SkywardBlade.png);
}
#GenImp-SkywardHarp
{
    background-image: url(../../../products/images/GenImp-SkywardHarp.png);
}
#GenImp-SkyWardPride
{
    background-image: url(../../../products/images/GenImp-SkywardPride.png);
}
#GenImp-SkywardSpine
{
    background-image: url(../../../products/images/GenImp-SkywardSpine.png);
}
#GenImp-SongPines
{
    background-image: url(../../../products/images/GenImp-SongPines.png);
}
#GenImp-StaffHoma
{
    background-image: url(../../../products/images/GenImp-StaffHoma.png);
}
#GenImp-SummitShaper
{
    background-image: url(../../../products/images/GenImp-SummitShaper.png);
}
#GenImp-ThunderingPulse
{
    background-image: url(../../../products/images/GenImp-ThunderingPulse.png);
}
#GenImp-Unforged
{
    background-image: url(../../../products/images/GenImp-Unforged.png);
}
#GenImp-V-AA
{
    background-image: url(../../../products/images/GenImp-V-AA.webp);
}
#GenImp-VortexVanquisher
{
    background-image: url(../../../products/images/GenImp-VortexVanquisher.png);
}
#GenImp-Wolfsgravestone
{
    background-image: url(../../../products/images/GenImp-Wolfsgravestone.png);
}
#GenImp-X-AP
{
    background-image: url(../../../products/images/GenImp-X-AP.webp);
}
#GenImp-Y-EC
{
    background-image: url(../../../products/images/GenImp-Y-EC.webp);
}
#GenImp-Y-HA
{
    background-image: url(../../../products/images/GenImp-Y-HA.webp);
}
#GenImp-Y-PA
{
    background-image: url(../../../products/images/GenImp-Y-PA.webp);
}
#GenImp-Z-GP
{
    background-image: url(../../../products/images/GenImp-Z-GP.webp);
}
#GenImp-NE-GC
{
    background-image: url(../../../products/images/GenImp-NE-GC.webp);
}
#GenImp-D-CA
{
    background-image: url(../../../products/images/GenImp-D-CA.webp);
}
#GenImp-R-CP
{
    background-image: url(../../../products/images/GenImp-R-CP.webp);
}
#GenImp-B-PS
{
    background-image: url(../../../../products/images/GenImp-B-PS.webp);
}
#GenImp-NE-GC
{
    background-image: url(../../../products/images/GenImp-NE-GC.webp);
}
#GenImp-X-PC
{
    background-image: url(../../../products/images/GenImp-X-PC.webp);
}
#GenImp-N-GC
{
    background-image: url(../../../products/images/GenImp-N-GC.webp);
}
#GenImp-X-PP
{
    background-image: url(../../../products/images/GenImp-X-PP.webp);
}
#GenImp-C-CC
{
    background-image: url(../../../products/images/GenImp-C-CC.webp);
}
#GenImp-X-HS
{
    background-image: url(../../../products/images/GenImp-X-HS.webp);
}
#GenImp-YJ-GP
{
    background-image: url(../../../products/images/GenImp-YJ-GP.webp);
}
#GenImp-B-EC
{
    background-image: url(../../../products/images/GenImp-B-EC.webp);
}
#GenImp-Y-PC
{
    background-image: url(../../../products/images/GenImp-Y-PC.webp);
}
#GenImp-SH-AC
{
    background-image: url(../../../products/images/GenImp-SH-AC.webp);
}
#GenImp-G-GA
{
    background-image: url(../../../products/images/GenImp-G-GA.webp);
}
#GenImp-KS-EA
{
    background-image: url(../../../products/images/GenImp-KS-EA.webp);
}
#GenImp-SY-AC
{
    background-image: url(../../../products/images/GenImp-SY-AC.webp);
}
#GenImp-C-HP
{
    background-image: url(../../../products/images/GenImp-C-HP.webp);
}
#GenImp-C-EP
{
    background-image: url(../../../products/images/GenImp-C-EP.webp);
}
#GenImp-C-DA
{
    background-image: url(../../../products/images/GenImp-C-DA.webp);
}
#GenImp-T-DA
{
    background-image: url(../../../products/images/GenImp-T-DA.webp);
}
#GenImp-HunterPath
{
    background-image: url(../../../products/images/GenImp-HunterPath.png);
}

/* Artifacts */
#ArchaicPetra
{
    background-image: url(../../../artifacts/ArchaicPetra.webp);
}
#BlizzardStrayer
{
    background-image: url(../../../artifacts/BlizzardStrayer.webp);
}
#BloodstainedChivalry
{
    background-image: url(../../../artifacts/BloodstainedChivalry.webp);
}
#CrimsonWitchofFlames
{
    background-image: url(../../../artifacts/CrimsonWitchofFlames.webp);
}
#DeepwoodMemories
{
    background-image: url(../../../artifacts/DeepwoodMemories.webp);
}
#EchoesofanOffering
{
    background-image: url(../../../artifacts/EchoesofanOffering.webp);
}
#EmblemofSeveredFate
{
    background-image: url(../../../artifacts/EmblemofSeveredFate.webp);
}
#GildedDreams
{
    background-image: url(../../../artifacts/GildedDreams.webp);
}
#Gladiator
{
    background-image: url(../../../artifacts/Gladiator.webp);
}
#HeartofDepth
{
    background-image: url(../../../artifacts/HeartofDepth.webp);
}
#HuskofOpulentDreams
{
    background-image: url(../../../artifacts/HuskofOpulentDreams.webp);
}
#Lavawalker
{
    background-image: url(../../../artifacts/Lavawalker.webp);
}
#MaidenBeloved
{
    background-image: url(../../../artifacts/MaidenBeloved.webp);
}
#NoblesseOblige
{
    background-image: url(../../../artifacts/NoblesseOblige.webp);
}
#Ocean-HuedClan
{
    background-image: url(../../../artifacts/Ocean-HuedClan.webp);
}
#PaleFlame
{
    background-image: url(../../../artifacts/PaleFlame.webp);
}
#RetracingBolide
{
    background-image: url(../../../artifacts/RetracingBolide.webp);
}
#ShimenawaReminiscence
{
    background-image: url(../../../artifacts/ShimenawaReminiscence.webp);
}
#TenacityoftheMillelith
{
    background-image: url(../../../artifacts/TenacityoftheMillelith.webp);
}
#ThunderingFury
{
    background-image: url(../../../artifacts/ThunderingFury.webp);
}
#Thundersoother
{
    background-image: url(../../../artifacts/Thundersoother.webp);
}
#VermillionHereafter
{
    background-image: url(../../../artifacts/VermillionHereafter.webp);
}
#ViridescentVenerer
{
    background-image: url(../../../artifacts/ViridescentVenerer.webp);
}
#WandererTroupe
{
    background-image: url(../../../artifacts/WandererTroupe.webp);
}

