{{ define "main" }}
<div class="intro">
    <h1 class="headers" style="margin: 0;padding: 20px 0 20px 0;">Characters</h1>
    <hr>

    <p class="text">
        Characters are obtainable units in Genshin Impact. 
        They come in different <b>rarities</b> (4-Star and 5-Star), 
        aligned with an <b>Element</b>, equipable with a specific <b>Weapon</b>, 
        and belong to a <b>Region</b>.
    </p>
    <div class="characterimageContainer">
        <div class="characterImage">
        </div>
        <div class="imageCover">
            <div class="from">Image taken from: <a href="https://genshin-impact.fandom.com">Genshin Impact Fandom</a></div>
        </div>
    </div>
    <br>
</div>

<div class="rarities" id="bg-color">
    <h2 class="headers">Character rarities</h2>
    <hr>
    <p class="text">
        4-star/5-star
    </p>
</div>

<div class="elements" id="bg-color">
    <h2 class="headers">Elements</h2>
    <hr>
    <p class="text">
        Different playable elements of characters
    </p>    
</div>


<div class="weapons" id="bg-color">
    <h2 class="headers">Weapons</h2>
    <hr>
    <p class="text">
        Character weapons
    </p>
</div>

<div class="regions" id="bg-color">
    <h2 class="headers">Regions</h2>
    <hr>
    <p class="text">
        Character regions
    </p>
</div>

{{ end }}