{{ define "main" }}
<div class="intro">
    <h1 class="headers" style="margin: 0;padding: 20px 0 20px 0;">Characters</h1>
    <hr>

    <p class="text">
        Characters are obtainable units in Genshin Impact. 
        They come in different <b>rarities</b> (4-Star and 5-Star), 
        aligned with an <b>Element</b>, equipable with a specific <b>Weapon</b>, 
        and belong to a <b>Region</b>.
    </p>
    <div class="characterimageContainer">
        <div class="characterImage">
        </div>
        <div class="imageCover">
            <div class="from">Image taken from: <a href="https://genshin-impact.fandom.com">Genshin Impact Fandom</a></div>
        </div>
    </div>
    <br>
</div>

<div class="rarities" id="bg-color">
    <h2 class="headers">Character rarities ▾</h2>
    <hr>
    <div class="content">
        <p class="text">In the world of Teywat, there are two tiers of playable characters, yes, you guessed right, 4-star and 5-star characters. There is a major difference in the 
            power each tier holds. While most 5-star characters are only attainable on Limited Event Wishes, the 4-star characters can be found on every <b>wish banner</b>. As a result
            the <b>constellations</b> of the lower tier characters are easier attained. 
        </p>
            <div class="imgHold">
                <div class="imgContain">
                    <p class="imgText-top">5-Star</p>
                    <div class="img" id="char-1"></div>
                    <p class="imgText-bottom">Keqing</p>
                </div>
                <div class="imgContain">
                    <p class="imgText-top">4-Star</p>
                    <div class="img" id="char-2"></div>
                    <p class="imgText-bottom">Razor</p>
                </div>
            </div>
        <p>
            <a class="text" style="color:red">View Current Characters</a>
        </p>
    </div>
</div>

<div class="elements" id="bg-color">
    <h2 class="headers">Elements ▾</h2>
    <hr>
    <div class="content">
        <p class="text">
            <b>Anemo</b>, <b>Geo</b>, <b>Electro</b>, <b>Dendro</b>, <b>Hydro</b>, <b>Pyro</b>, <b>Cyro</b> - these are the different elemental energies that can be found in the world of Teyvat. Each element can interact with one another producing 
            an <b>elemental reaction</b> depending on the type of element used. Of the different elements there are some which, when applied to an enemy, has a specific duration before it 
            disappears - this excludes Geo and Anemo - which is the perfect interval to trigger an <b>elemental reaction</b>! A list of known reactions can be found below:
        </p>
        <!-- First reaction -->
        <div class="imgHold">
            <!-- Swirl -->
            <div class="imgContain">
                <p class="imgText-top-elements">Anemo</p>
                <div class="imgElements" id="anemo"></div>
            </div>
            <div class="plus">+</div>
            <div class="imgContain">
                <p class="imgText-top-elements">Hydro</p>
                <div class="imgElements" id="hydro"></div>
            </div>
            <div class="plus">/</div>
            <div class="imgContain">
                <p class="imgText-top-elements">Electro</p>
                <div class="imgElements" id="electro"></div>
            </div>
            <div class="plus">/</div>
            <div class="imgContain">
                <p class="imgText-top-elements">Pyro</p>
                <div class="imgElements" id="pyro"></div>
            </div>
            <div class="plus">/</div>
            <div class="imgContain">
                <p class="imgText-top-elements">Cyro</p>
                <div class="imgElements" id="cyro"></div>
            </div>
            <div class="plus">=</div>
            <div class="plus">Swirl</div>
        </div>
        <!-- Second reaction -->

        <div class="imgHold">
            <!-- Crystallize -->
            <div class="imgContain">
                <p class="imgText-top-elements">Geo</p>
                <div class="imgElements" id="geo"></div>
            </div>
            <div class="plus">+</div>
            <div class="imgContain">
                <p class="imgText-top-elements">Hydro</p>
                <div class="imgElements" id="hydro"></div>
            </div>
            <div class="plus">/</div>
            <div class="imgContain">
                <p class="imgText-top-elements">Electro</p>
                <div class="imgElements" id="electro"></div>
            </div>
            <div class="plus">/</div>
            <div class="imgContain">
                <p class="imgText-top-elements">Pyro</p>
                <div class="imgElements" id="pyro"></div>
            </div>
            <div class="plus">/</div>
            <div class="imgContain">
                <p class="imgText-top-elements">Cyro</p>
                <div class="imgElements" id="cyro"></div>
            </div>
            <div class="plus">=</div>
            <div class="plus">Crystallize</div>
        </div>

        <div class="imgHold">
            <!-- Vapourise -->
            <div class="imgContain">
                <p class="imgText-top-elements">Hydro</p>
                <div class="imgElements" id="hydro"></div>
            </div>
            <div class="plus">+</div>
            <div class="imgContain">
                <p class="imgText-top-elements">Pyro</p>
                <div class="imgElements" id="pyro"></div>
            </div>
            <div class="plus">=</div>
            <div class="plus">Vaporise</div>
        </div>

        <div class="imgHold">
            <!-- Melt -->
            <div class="imgContain">
                <p class="imgText-top-elements">Cyro</p>
                <div class="imgElements" id="cyro"></div>
            </div>
            <div class="plus">+</div>
            <div class="imgContain">
                <p class="imgText-top-elements">Pyro</p>
                <div class="imgElements" id="pyro"></div>
            </div>
            <div class="plus">=</div>
            <div class="plus">Melt</div>
        </div>

        <div class="imgHold">
            <!-- Super conduct -->
            <div class="imgContain">
                <p class="imgText-top-elements">Electro</p>
                <div class="imgElements" id="electro"></div>
            </div>
            <div class="plus">+</div>
            <div class="imgContain">
                <p class="imgText-top-elements">Cyro</p>
                <div class="imgElements" id="cyro"></div>
            </div>
            <div class="plus">=</div>
            <div class="plus">Super Conduct</div>
        </div>

        <div class="imgHold">
            <!-- Electro-charged -->
            <div class="imgContain">
                <p class="imgText-top-elements">Hydro</p>
                <div class="imgElements" id="hydro"></div>
            </div>
            <div class="plus">+</div>
            <div class="imgContain">
                <p class="imgText-top-elements">Electro</p>
                <div class="imgElements" id="electro"></div>
            </div>
            <div class="plus">=</div>
            <div class="plus">Electro-charged </div>
        </div>

        <div class="imgHold">
            <!-- Aggravate -->
            <div class="imgContain">
                <p class="imgText-top-elements">Dendro</p>
                <div class="imgElements" id="dendro"></div>
            </div>
            <div class="plus">+</div>
            <div class="imgContain">
                <p class="imgText-top-elements">Electro</p>
                <div class="imgElements" id="electro"></div>
            </div>
            <div class="plus">+</div>
            <div class="imgContain">
                <p class="imgText-top-elements">Electro</p>
                <div class="imgElements" id="electro"></div>
            </div>
            <div class="plus">Aggravate</div>
        </div>
        
        <div class="imgHold">
            <!-- Spread -->
            <div class="imgContain">
                <p class="imgText-top-elements">Dendro</p>
                <div class="imgElements" id="dendro"></div>
            </div>
            <div class="plus">+</div>
            <div class="imgContain">
                <p class="imgText-top-elements">Electro</p>
                <div class="imgElements" id="electro"></div>
            </div>
            <div class="plus">+</div>
            <div class="imgContain">
                <p class="imgText-top-elements">Dendro</p>
                <div class="imgElements" id="dendro"></div>
            </div>
            <div class="plus">Spread</div>
        </div>

        <div class="imgHold">
            <!-- HyperBloom -->
            <div class="imgContain">
                <p class="imgText-top-elements">Dendro</p>
                <div class="imgElements" id="dendro"></div>
            </div>
            <div class="plus">+</div>
            <div class="imgContain">
                <p class="imgText-top-elements">Hydro</p>
                <div class="imgElements" id="hydro"></div>
            </div>
            <div class="plus">+</div>
            <div class="imgContain">
                <p class="imgText-top-elements">Electro</p>
                <div class="imgElements" id="electro"></div>
            </div>
            <div class="plus">=</div>
            <div class="plus">HyperBloom</div>
        </div>

        <div class="imgHold">
            <!-- Burngeon -->
            <div class="imgContain">
                <p class="imgText-top-elements">Dendro</p>
                <div class="imgElements" id="dendro"></div>
            </div>
            <div class="plus">+</div>
            <div class="imgContain">
                <p class="imgText-top-elements">Hydro</p>
                <div class="imgElements" id="hydro"></div>
            </div>
            <div class="plus">+</div>
            <div class="imgContain">
                <p class="imgText-top-elements">Pyro</p>
                <div class="imgElements" id="pyro"></div>
            </div>
            <div class="plus">=</div>
            <div class="plus">Burngeon</div>
        </div>

        <div class="imgHold">
            <!-- Burning -->
            <div class="imgContain">
                <p class="imgText-top-elements">Dendro</p>
                <div class="imgElements" id="dendro"></div>
            </div>
            <div class="plus">+</div>
            <div class="imgContain">
                <p class="imgText-top-elements">Pyro</p>
                <div class="imgElements" id="pyro"></div>
            </div>
            <div class="plus">=</div>
            <div class="plus">Burning</div>
        </div>
    </div>  
</div>


<div class="weapons" id="bg-color">
    <h2 class="headers">Weapons ▾</h2>
    <hr>
    <div class="content">
        <p class="text">
            Every respective character in the world of Teyvat has a specific weapon affinity. <b>Sword</b>, <b>Claymore</b>, <b>Catalyst</b>, <b>Polearm</b> and <b>Bow</b> 
            users are very prominent. These playable characters share different playstyles that are uncustomizable, one of these playstyles might be suit for you and knows 
            there might be new weapon users introduced in the near future!
        </p>
        </p>
            <div class="imgHold">
                <div class="imgContain">
                    <p class="imgText-top">Polearm</p>
                    <div class="img" id="polearm"></div>
                </div>
                <div class="imgContain">
                    <p class="imgText-top">Sword</p>
                    <div class="img" id="sword"></div>
                </div>
                <div class="imgContain">
                    <p class="imgText-top">Claymore</p>
                    <div class="img" id="claymore"></div>
                </div>
                <div class="imgContain">
                    <p class="imgText-top">Bow</p>
                    <div class="img" id="bow"></div>
                </div>
                <div class="imgContain">
                    <p class="imgText-top">Catalyst</p>
                    <div class="img" id="catalyst"></div>
                </div>
            </div>
        <p>
        
    </div>
</div>

<div class="regions" id="bg-color">
    <h2 class="headers">Regions ▾</h2>
    <hr>
    <div class="content">
        <p class="text">The Capital of Teyvat? No such thing! Teyvat is split into different regions which are governed and conform to the customs of their god and <b>Archon</b>.
            Currently only four regions have been made explorable by <b>Hoyoverse</b> which is <b>Mondstadt</b>, <b>Liyue</b>, <b>Inazuma</b>, <b>Sumeru</b> - however, Hoyoverse is
            sure to release the other regions, like <b>Fontaine</b> in future version updates.
        </p>
        </p>
            <div class="imgHold">
                <div class="imgContain">
                    <p class="imgText-top">Mondstadt</p>
                    <div class="img" id="mond"></div>
                </div>
                <div class="imgContain">
                    <p class="imgText-top">Liyue</p>
                    <div class="img" id="liyue"></div>
                </div>
                <div class="imgContain">
                    <p class="imgText-top">Inazuma</p>
                    <div class="img" id="ina"></div>
                </div>
                <div class="imgContain">
                    <p class="imgText-top">Sumeru</p>
                    <div class="img" id="sumeru"></div>
                </div>
            </div>
        <p>
    </div>
</div>

{{ end }}