{{ define "main" }}
  <!-- Slide Show -->
  <div class="slidesContainer"></div>
  <div class="slideShowContainer">
    <div class="slideCover"></div>
    <div class="slide slide1">
      <div class="slideCover"></div>
      <p class="slideText">Version 3.0 Phase 1 Wish Banner</p>
    </div>
    <div class="slide slide2">
      <div class="slideCover"></div>
      <p class="slideText">New Version Limited Event Avaiable!</p>
    </div>
    <div class="slide slide3">
      <div class="slideCover"></div>
      <p class="slideText">Version 3.0 Phase 2 Wish Banner</p>
    </div>
  </div>
  <!-- Regions - Mondstadt, Liyue, Inazuma -->

  <!-- Mondstadt -->
  <div class="region">
    <div class="state">
      <div class="image archonMond">
      </div>
      <div class="content mondstadt">
        <div class="stateCover"></div>
        <div class="contentText">
          <h1 class="contentHeader"> Mondstadt </h1>
          <hr style="width: 50%">
          A city of freedom that lies in the northeast of Teyvat. 
          From amongst mountains and wide-open plains, 
          carefree breezes carry the scent of dandelions 
          — a gift from the Anemo God, Barbatos — 
          across Cider Lake to Mondstadt, 
          which sits on an island in the middle of the lake.
        </div>
        <div class="econ">
          <div class="element elementMond"></div>
          <div class="emblem embMond"></div>
        </div>
      </div>
    </div>
  </div>
  <!-- Inazuma -->
  <div class="region">
    <div class="state">
      <div class="image archonIna">
      </div>
      <div class="content inazuma">
        <div class="stateCover"></div>
        <div class="contentText">
          <h1 class="contentHeader"> Inazuma </h1>
          <hr style="width: 50%">
          An Isolated Archipelago Far East of Teyvat
          Overcome endless thunderstorms and set foot on the islands of red maple
           and cherry blossoms. On winding shores and towering cliffs,
          and in forests and mountains full of secrets, witness the
           Eternity pursued by Her Excellency, the Almighty Narukami Ogosho.
        </div>
        <div class="econ">
          <div class="element elementIna"></div>
          <div class="emblem embIna"></div>
        </div>
      </div>
    </div>
  </div>
  <!-- Liyue -->
  <div class="region">
    <div class="state">
      <div class="image archonLiyue">
      </div>
      <div class="content liyue">
        <div class="stateCover"></div>
        <div class="contentText">
          <h1 class="contentHeader"> Liyue </h1>
          <hr style="width: 50%">
          A bountiful harbor that lies in the east of Teyvat. 
          Mountains stand tall and proud alongside the stone forest,
          that, together with the open plains and lively rivers, 
          make up Liyue's bountiful landscape, which shows its unique 
          beauty through each of the four seasons. Just how many gifts 
          from the Geo God lie in wait amongst the rocks of Liyue's mountains?
        </div>
        <div class="econ">
          <div class="element elementLiyue"></div>
          <div class="emblem embLiyue"></div>
        </div>
      </div>
    </div>
  </div>

  <!-- Sumeru -->
  <div class="region">
    <div class="state">
      <div class="image archonSumeru">
      </div>
      <div class="content sumeru">
        <div class="stateCover"></div>
        <div class="contentText">
          <h1 class="contentHeader"> Sumeru </h1>
          <hr style="width: 50%">
          The God of Wisdom's enemy is wisdom itself, 
          and the oasis of knowledge is a mirage in the desert of ignorance. 
          In the city of scholars there is a push for folly, 
          yet the God of Wisdom makes no argument against it.
        </div>
        <div class="econ">
          <div class="element elementSumeru"></div>
          <div class="emblem embSumeru"></div>
        </div>
      </div>
    </div>
  </div>
{{ end }}